In [1]:
import pandas as pd

In [2]:
from scipy.io import arff

In [7]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])

In [8]:
df['bankruptcy'] = (df['class']==b'1')

In [9]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0',False
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0',False
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0',False
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0',False
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0',False

In [11]:
dataframe_1=pd.DataFrame(df,columns=['Attr1','Attr2','Attr7','Attr10','bankruptcy'])

In [12]:
dataframe_1.head()

      Attr1    Attr2     Attr7   Attr10  bankruptcy
0  0.159290  0.46240  0.189480  0.38330       False
1 -0.127430  0.46243 -0.127430  0.53757       False
2  0.070488  0.23570  0.086895  0.67689       False
3  0.136760  0.40538  0.136760  0.58938       False
4 -0.110080  0.69793 -0.110080  0.30207       False

In [13]:
dataframe_1 = dataframe_1.rename(columns={'Attr1':'X1', 'Attr2':'X2','Attr7':'X7','Attr10':'X10'})

## Q1 Create a new dataframe with only 4 feataures (and and Bankruptcy). Properly rename the columns to X1, X2, X7, and X10

In [14]:
dataframe_1.head()

         X1       X2        X7      X10  bankruptcy
0  0.159290  0.46240  0.189480  0.38330       False
1 -0.127430  0.46243 -0.127430  0.53757       False
2  0.070488  0.23570  0.086895  0.67689       False
3  0.136760  0.40538  0.136760  0.58938       False
4 -0.110080  0.69793 -0.110080  0.30207       False

## Q2 Fill-in the missing values na with the mean.

In [15]:
dataframe_1.fillna(dataframe_1.mean())

            X1        X2        X7       X10  bankruptcy
0     0.159290  0.462400  0.189480  0.383300       False
1    -0.127430  0.462430 -0.127430  0.537570       False
2     0.070488  0.235700  0.086895  0.676890       False
3     0.136760  0.405380  0.136760  0.589380       False
4    -0.110080  0.697930 -0.110080  0.302070       False
5     0.021539  0.584250  0.029628  0.415750       False
6     0.227430  0.522660  0.283000  0.477340       False
7     0.038662  0.594980  0.038662  0.405020       False
8     0.131030  0.472020  0.163780  0.527980       False
9     0.176980  0.193590  0.212810  0.806410       False
10    0.117670  0.373320  0.145710  0.626680       False
11    0.032153  0.902120  0.032153  0.097879       False
12   -0.075580  0.936210 -0.075580  0.013214       False
13    0.211890  0.233070  0.264610  0.719900       False
14    0.046169  0.247930  0.048998  0.743240       False
15    0.069618  0.309770  0.087276  0.690230       False
16    0.113760  0.525320  0.144530  0.474680       False
17   -1.193800  0.615150 -1.193800  0.384850       False
18    0.024596  0.366910  0.032662  0.633090       False
19    0.005750  0.906890  0.005750  0.084948       False
20    0.221510  0.238730  0.221510  0.761270       False
21    0.061482  0.354400  0.077513  0.645600       False
22    0.426290  0.365600  0.174180  0.634400       False
23    0.001662  0.846220  0.001662  0.153780       False
24    0.005414  0.435910  0.008061  0.564090       False
25    0.029462  0.837980  0.036490  0.162020       False
26    0.100710  0.697610  0.128430  0.302390       False
27    0.059803  0.177560  0.077343  0.682960       False
28    0.092920  0.604290  0.117090  0.395710       False
29    0.169810  0.228240  0.210030  0.733450       False
...        ...       ...       ...       ...         ...
9762  0.033815  0.612560  0.033815  0.340550        True
9763 -0.255570  0.931520 -0.250960  0.054129        True
9764 -0.016885  0.643430  0.015934  0.356570        True
9765 -0.184490  1.520100 -0.184490 -0.522640        True
9766 -0.075250  0.251870 -0.075250  0.748140        True
9767  0.093071  0.181230  0.093071  0.818650        True
9768 -0.165910  0.193460 -0.163630  0.711120        True
9769  0.015174  0.896520  0.015174  0.103510        True
9770 -0.075957  1.229800 -0.075957 -0.229710        True
9771  0.018735  1.062700  0.019950 -0.062692        True
9772  0.175340  0.002605  0.175340  0.997300        True
9773 -0.014375  0.516200 -0.006021  0.483910        True
9774 -0.168520  0.781320 -0.168520  0.218500        True
9775 -2.162000  2.758400 -2.162000 -1.758800        True
9776  0.025826  0.670610  0.033913  0.329390        True
9777 -0.073082  0.450620 -0.073082  0.549100        True
9778 -0.125010  0.122590 -0.125010  0.805770        True
9779  0.054271  0.231520  0.070801  0.768320        True
9780  0.001404  0.482310  0.008447 -0.045081        True
9781 -0.502330  1.776800 -0.502330 -0.777170        True
9782  0.025487  0.544760  0.031264  0.454800        True
9783  0.020226  0.711310  0.021172  0.288690        True
9784 -0.147000  0.776920 -0.147000  0.128670        True
9785 -0.042907  0.837920 -0.042907  0.162040        True
9786 -0.191020  0.927150 -0.189130 -0.073294        True
9787  0.004676  0.549490  0.013002  0.432050        True
9788 -0.027610  0.607480 -0.027610  0.335090        True
9789 -0.238290  0.627080 -0.240360  0.177600        True
9790  0.097188  0.753000  0.104280  0.247000        True
9791  0.021416  0.486780  0.027253  0.512670        True

[9792 rows x 5 columns]

## Q3 the mean and std of the 4 features among all companies

In [61]:
dataframe_1.mean()

X1            0.043019
X2            0.596404
X7            0.059446
X10           0.389040
bankruptcy    0.052594
dtype: float64

In [62]:
dataframe_1.std()

X1            0.359321
X2            4.587122
X7            0.533344
X10           4.590299
bankruptcy    0.223233
dtype: float64

## Q3 the mean and std of the 4 features among bankruptcy companies

In [31]:
dataframe_bankcruptcy=dataframe_1.loc[dataframe_1['bankruptcy']==True]

In [60]:
dataframe_bankcruptcy.mean()

X1           -0.068873
X2            0.878355
X7           -0.061538
X10           0.103367
bankruptcy    1.000000
dtype: float64

In [56]:
dataframe_bankcruptcy.std()

X1            0.568076
X2            1.945596
X7            0.568432
X10           1.946747
bankruptcy    0.000000
dtype: float64

## Q3 the mean and std of the 4 features among operating companies

In [33]:
dataframe_operating=dataframe_1.loc[dataframe_1['bankruptcy']==False]

In [57]:
dataframe_operating.mean()

X1            0.049231
X2            0.580750
X7            0.066163
X10           0.404901
bankruptcy    0.000000
dtype: float64

In [58]:
dataframe_operating.std()

X1            0.343020
X2            4.689947
X7            0.530553
X10           4.693187
bankruptcy    0.000000
dtype: float64

## Q4 How many companies satisfy the condition, X1 < mean(X1) - stdev(X1) AND X10 < mean(X10) - std(X10)?

In [45]:
condition1 = dataframe_1['X1'] < dataframe_1['X1'].mean() - dataframe_1['X1'].std() 
condition2 = dataframe_1['X10'] < dataframe_1['X10'].mean()- dataframe_1['X10'].std()

In [46]:
subset = dataframe_1.loc[condition1&condition2,:]

In [50]:
num=subset.bankruptcy.count()
num

15

## Q5 What is the ratio of the bankrupted companies among the sub-groups above?

In [52]:
bankruptcy_ratio=(subset.loc[subset['bankruptcy']]).shape[0]/num
bankruptcy_ratio

0.2